.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.tslegend {
    width: 18px;
    height: 14px;
    border-radius: 4px;
    text-align: center;
    color: white;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

.tslegendtext {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: '14px'!important;
    color: #274b6d;
    display: inline
}
.tslegendspacer {
    padding: 15px;
    display: inline;
}

.tslegend-square {
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 7px;
    color: rgba(103,103,103,1);;
    background-color: rgba(103,103,103,1);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

.tslegend-circle {
    width: 14px;
    height: 14px;
    text-align: center;
    border-radius: 7px;
    color: rgba(103,103,103,.5);
    background-color: rgba(103,103,103,.5);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

